extends _layouts/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-top-keyvisual
    h2.sec-title Title 1
    .sec-content
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, nisi soluta facere porro, illo nulla assumenda inventore libero voluptates facilis illum veritatis laborum ipsam itaque suscipit expedita aliquam quis eligendi.
  section.section-top-about
    h2.sec-title Title 2
    .sec-content
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, nisi soluta facere porro, illo nulla assumenda inventore libero voluptates facilis illum veritatis laborum ipsam itaque suscipit expedita aliquam quis eligendi.
  section.section-top-news
    h2.sec-title Title 3
    .sec-content
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, nisi soluta facere porro, illo nulla assumenda inventore libero voluptates facilis illum veritatis laborum ipsam itaque suscipit expedita aliquam quis eligendi.